<!DOCTYPE html>
<html>
<head>
<title>Hello Ext</title>
<link rel="stylesheet" type="text/css"
	href="http://cdn.sencha.io/ext/gpl/4.2.1/resources/css/ext-all.css" />
<script type="text/javascript"
	src="http://cdn.sencha.io/ext/gpl/4.2.1/ext-all.js"></script>
<script type="text/javascript">
	Ext.Loader.setConfig({
		enabled : true
	});
	Ext.Loader.setPath('Ext.ux', 'http://cdn.sencha.com/ext/gpl/4.2.0/examples/ux/');
</script>
<script type="text/javascript" src="app.js"></script>
</head>
<body></body>
</html>